@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="with-button">Главная</h2>
<div class="btn-group">
    <form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="PurchaseRequest" class="btn btn-default btn-file">
        <label class=" ">
            Загрузить заявку <input type="file" style="display: none;" name="file">
        </label>
    </form>
</div>
