
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Главная</h2>
<form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="PurchaseRequest">
    <label class="btn btn-default btn-file">
        Загрузить заявку <input type="file" style="display: none;" name="file">
    </label>
</form>

@section Scripts {
    <script>
        $(document).on('change', ':file', function () {
            $(this).parents('form').submit();
        });
    </script>
}
