@model DigitalPurchasing.Web.ViewModels.Analysis.AnalysisIndexVm
@{
    ViewData["Title"] = "Варианты выбора поставщика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="with-button">@ViewData["Title"]</h2>
<div class="btn-group">
    <a class="btn btn-default" href="@Url.Action("Edit", "CompetitionList", new { id = Model.ClId })">Конкурентный лист</a>
</div>
<div id="app">
    <h3>Стоимость закупки в разбивке по поставщикам</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Варианты</th>
            <th v-for="supplier in orderedSuppliers">{{supplier.name}}</th>
            <th>ИТОГО</th>
            <th>Кол-во<br/>поставщиков</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(variant, index) in variants">
            <td>
                <p>Вариант {{(index+1)}}</p>
                <p class="help-block">Доля в итого, %</p>
            </td>
            <td v-if="isSuccess(variant)" v-for="result in getOrderedVariantResults(variant.results)">
                <p>{{result.total | dontShowZero}}</p>
                <p class="help-block">{{supplierTotalPerc(result.total, suppliersTotal(variant.results)) | percentage}}</p>
            </td>
            <td v-if="isSuccess(variant)">{{suppliersTotal(variant.results)}}</td>
            <td v-if="isSuccess(variant)">{{suppliersCount(variant.results)}}</td>
            <td v-if="!isSuccess(variant)" :colspan="variant.results.length+2">
                <p class="text-center">Предложенные условия не соответствуют параметрам выбора</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>

        (function() {
            var app = new Vue({
                el: '#app',
                data: function() {
                    return {
                        suppliers: [],
                        variants: []
                    };
                },
                computed: {
                    orderedSuppliers: function () {
                        return _.orderBy(this.suppliers, 'order');
                    }
                },
                created: function() {
                    var vm = this;
                    this.$http.get('@Url.Action("Data", "Analysis", new { clId = Model.ClId })').then(function(response) {
                        var data = response.body;
                        vm.suppliers = data.suppliers;
                        vm.variants = data.variants;
                    }, function(response) {
                        alert('Ошибка загрузки');
                    });
                },
                filters: {
                    percentage: function (value) {
                        if (!isNumber(value)) return value;
                        if (value === 0) return '';
                        value = value.toFixed(2);
                        return value + '%';
                    },
                    dontShowZero: function (value) {
                        if (!isNumber(value)) return value;
                        return value === 0 ? '' : value;
                    }
                },
                methods: {
                    getSupplierOrder: function(id) {
                        return _.find(this.suppliers, ['id', id]);
                    },
                    getOrderedVariantResults: function (results) {
                        return _.orderBy(results, 'order');
                    },
                    suppliersTotal: function (results) {
                        return _.sumBy(results, 'total');
                    },
                    suppliersCount: function(results) {
                        return _.filter(results, function (r) { return r.total > 0; }).length;
                    },
                    supplierTotalPerc: function(result, total) {
                        if (result === 0 || total === 0) return 0;
                        return result / total * 100;
                    },
                    isSuccess: function(variant) {
                        return this.suppliersTotal(variant.results) > 0;
                    }
                }
            });
        })();
    </script>
}
