/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.table {
  border-spacing: 7px 11px;
}

.table .btn-group {
  white-space: nowrap;
}

.table .btn-group .btn {
  display: inline-block;
  float: none;
}

.table .btn-group .btn + .btn {
  margin-left: -5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

table .border-left {
  border-left: 1px solid #ddd
}

table .form-group {
  margin-bottom: 0;
}

table tr td {
  vertical-align: middle!important;
}

td.align-right, th.align-right {
  text-align: right;
  padding-right: 16px;
  min-width: 75px;
}

.modal-body .table {
  margin-bottom: 0 !important;
}

.with-button, .with-button + .btn-group {
  display: inline-block;
}

.with-button + .btn-group .form-button {
  display: inline-block;
  float: left;
}

.with-button + .btn-group .form-button .btn-file {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-right-width: 0;
}

.with-button + .btn-group {
  position: relative;
  top: -4px;
  left: 4px;
}

.with-button + .btn-group .btn-file label {
  font-weight: normal;
  margin-bottom: 0;
}

/* Scrollable table in CL */
.long-table-wrap {
  width: 100%;
}
.long-table {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.long-table .with-left-border {
  border-left: 1px solid #ddd
}
.long-table thead td {
  font-weight: bold;
}
.long-table tfoot td {
  font-weight: bold;
}
.long-table-item {
  display: inline-grid;
  margin-right: 12px;
}

/*.long-table-item .header {
  min-height: 64px;
  height: 64px;
}*/

.long-table-item tbody tr
{
  height: 38px;
}

.m-0 {
  margin: 0
}

.m-t-30 {
  margin-top: 30px;
}

.radio-1_2 {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}

.w-50 {
  width: 50px;
}

.w-140 {
  width: 140px;
}

.w-180 {
  width: 180px;
}

.h-20 {
  height: 20px;
}

body > .alert {
  z-index: 2000;
}
table > tfoot {
  border-top: 1px solid !important;
  color: lightgray !important;
}
.block-buttons-top {
    display: flex;
}
