@using DigitalPurchasing.Core.Interfaces
@model DigitalPurchasing.Core.Interfaces.PurchasingRequestDetailsResponse

@{
    ViewBag.Title = $"Заявка № {Model.PublicId} от {Model.CreatedOn:dd.MM.yyyy hh:mm}";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@if (Model.ExcelTable != null && Model.Type == PurchasingRequestType.AppropriateColumns)
{
    <h3>Заявка в формате Клиента</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var column in Model.ExcelTable.Columns)
                {
                <th>@column.Header</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                var rowsCount = Model.ExcelTable.Columns.Find(q => q.Type == TableColumnType.Name).Values.Count;
            }
            @for (int i = 0; i < rowsCount; i++)
            {
                <tr>
                    @foreach (var column in Model.ExcelTable.Columns)
                    {
                        <td>@column.Values[i]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

