@model DigitalPurchasing.Core.Interfaces.CompetitionListVm

@{
    ViewBag.Title = $"Конкурентный лист № {Model.PublicId} от {Model.CreatedOn:dd.MM.yyyy HH:mm}";
    Layout = "_Layout";
}

<h2 class="with-button">@ViewBag.Title</h2>
<div class="btn-group">
    <form method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="CompetitionList" asp-route-id="@Model.Id" style="display: inline-block">
        <label class="btn btn-default btn-file">
            Загрузить предложение <input type="file" style="display: none;" name="file">
        </label>
    </form>
</div>

<ul>
    @foreach (var so in Model.SupplierOffers.OrderBy(q => q.CreatedOn))
    {
        var soTitle = $"КП № {so.PublicId} от {so.CreatedOn:dd.MM.yyyy HH:mm}";
        <li>
            <a asp-action="Edit" asp-controller="SupplierOffer" asp-route-id="@so.Id">@soTitle</a>
        </li>
    }
</ul>
