@model DigitalPurchasing.Core.Interfaces.SupplierVm

@{
    ViewData["Title"] = Model.Name + " - Поставщики" ;
}

<h2>@Model.Name</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </div>
</div>


