@using Newtonsoft.Json
@model DigitalPurchasing.Web.ViewModels.Uom.UomEditVm

@{
    ViewData["Title"] = $"Редактирование ЕИ \"{Model.Name}\"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row" id="app">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternativeNames" class="control-label"></label>
                <input v-for="(alternativeName, index) in alternativeNames"
                       v-bind:name="'AlternativeNames['+index+']'"
                       v-model="alternativeNames[index]" style="display: none" />
                <vue-tags-input v-model="alternativeNameTag"
                                :tags="alternativeNameTags"
                                v-on:tags-changed="alternativeNameTags = $event"
                                placeholder="Добавить название"
                                style="max-width: 100%;" />
                <span asp-validation-for="AlternativeNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить" />
                <a asp-action="Index" class="btn btn-default">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var vue = new Vue({
            el: '#app',
            data: function() {
                return {
                    alternativeNameTag: '',
                    alternativeNameTags: []
                };
            },
            created: function () {
                var vm = this;
                this.$http.get('@Url.Action("EditData", new { id = Model.Id })').then(function (res) {
                    vm.alternativeNameTags = _.map(res.body.alternativeNames, function(name) {
                        return {
                            text: name
                        };
                    });
                }, function(res) {
                    alert('Ошибка загрузки');
                });
            },
            computed: {
                alternativeNames: function() {
                    var names = _.map(this.alternativeNameTags, function(tag) {
                        return tag.text;
                    });
                    return names;
                }
            }
        });
    </script>
}
